body{
    font-family: 'Cinzel', serif;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
}

.card-body{
    font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron{
    background: url("../images/sunset.jpg");
    background-size: cover;
}

.form-control{
    font-family: 'Open Sans Condensed', sans-serif;
}

footer{
    text-align: center;
}

footer p{
    font-family: 'Cinzel', serif;
}
