body{
    background-image: url("../images/woodWall.jpg");
    background-size: cover;
}

.container{
    margin-top: 50pt;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #edead9;
}

.activator{
    padding-left: 15px;
    padding-right: 15px;
}

#unit4Cap{
    padding-top: 15px;
}

#mochiLogo{
    padding-top: 15px;
}

#giaLogo{
    height: 100%;
    width: 100%;
}

#void {
    padding-top: 15px;
}

#profilePic{
    padding-top: 10pt;
}
footer{
    background-color: brown;
}